<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %>.</h1>
<p><%= @game.player_1.name %> HP: <%= @game.player_1.hp %>.</p>
<p><%= @game.player_2.name %> HP: <%= @game.player_2.hp %>.</p>

<form action="/play" method="post">
  <input type="submit" value="<%= @game.current_attacker.name %> attacks!">
</form>

<% if @attacked %>

<p><%= @game.current_victim.name %> attacked <%= @game.current_attacker.name %>.</p>

<% end %>

<% if @game.game_over? %>

<p>Game over.</p>

<p><%= @game.loser.name %> has lost the game!</p>

<% end %>
